.card-cover {
  position: absolute;
  inset: 0;
  text-align: center;
  outline: 1px solid #000;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 500ms 0ms;
}

.envelope:hover .card-cover {
  transform: rotateY(-135deg);
  transition-delay: 2250ms;
}

.card-side {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  background-color: #fff;
  display: grid;
  place-items: center;
}
